.nuit {
    transition: all 0.3s ease;
    background-color: var(--nuit);

    p, label, h2, summary {
        color: white;
    }

    li, #favoris-title {
        color: white;
    }

    header {
        background-color: var(--nuit);

        .head-nav {
            .menu-r {
                .nav-menu {
                    ul {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }


                }

                .bar {
                    background: white;
                }
            }
        }
    }

    footer {
        .nav-footer {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.jour {
    transition: all 0.3s ease;
    background-color: white;
}