/* Style pour le lien des favoris */
#mes-favoris {
    background-color: var(--grey-light); /* Fond clair */
    padding: 1rem; /* Espace interne */
    border-radius: 1rem; /* Coins arrondis */
    color: var(--primary); /* Texte coloré */
}

.page-favoris {
    padding-bottom: 1rem; /* Espace en bas */
    margin: 20px; /* Marge extérieure */
    display: grid; /* Disposition en grille */
    gap: 2rem; /* Espace entre les éléments */

    article {
        text-align: center; /* Texte centré */
        border-radius: 10px 10px 0px 0px; /* Coins arrondis */
        overflow: hidden; /* Masque le débordement */
        box-shadow: 2px 2px 4px var(--primary-light); /* Ombre légère */
        display: none; /* Masqué par défaut */

        .supp {
            font-size: 1.5rem;
            color: red;
            cursor: pointer;
            text-decoration: underline;
        }
        &.show-fav {
            display: block; /* Affiché avec la classe 'show-fav' */
        }

        .contenaire-img {
            .img-recette {
                width: 100%; /* Largeur complète */
            }
        }

        h2 {
            margin-block: 2rem; /* Espace vertical */
            font-size: 3rem; /* Grande police */
        }

        .description {
            display: flex; /* Disposition flexible */
            justify-content: start; /* Alignement au début */
            gap: 1rem; /* Espace entre les éléments */
            margin-block: 1rem; /* Espace vertical */
            margin-inline: 2rem; /* Espace horizontal */

            p {
                font-size: 1.5rem; /* Grande police */
                padding: 7px; /* Espace interne */
                color: white; /* Texte blanc */
                border-radius: 15px; /* Coins arrondis */

                &.type-plat {
                    background-color: var(--primary); /* Fond coloré */
                }

                &.type-temps {
                    background-color: var(--green); /* Fond vert */
                }

                &.type-dificulte {
                    background-color: var(--blue); /* Fond bleu */
                }
            }
        }

        button {
            margin-inline: 2rem; /* Espace horizontal */
            border-radius: 5px; /* Coins arrondis */
            text-align: center; /* Texte centré */
            padding-block: 2rem; /* Espace vertical */
            border: none; /* Pas de bordure */
            width: 90%; /* Largeur */
            text-decoration: none; /* Pas de décoration de texte */
            background-color: var(--primary); /* Fond coloré */
            font-size: 3rem; /* Grande police */
            color: white; /* Texte blanc */
            margin-block: 2rem; /* Espace vertical */
        }
    }
}

/* Styles pour les grands écrans */
@media (min-width: 1024px) {
    .page-favoris {
        display: grid; /* Disposition en grille */
        grid-template-columns: repeat(4, 1fr); /* Quatre colonnes */
    }
}
