.nuit {
    background-color: var(--nuit);
    p,label,h2,summary {
        color: white;
    }
    header {
        background-color: var(--nuit);
        .bar {
            background: white;
        }
    }

}
.jour {
    background-color: white;
}