#accueil {
    background-color: var(--grey-light);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary);
}

main {
    #section-recherche {

        padding-bottom: 1rem;
        margin: 20px;
        box-shadow: 4px 4px 4px var(--primary-light);

        .recherche {
            display: grid;
            gap: 1rem;

            .input-recherche {
                padding-block: 1rem;
                width: 100%;
            }

            .bouton-recherche {
                padding-block: 1rem;
                font-size: 2rem;
                background-color: var(--primary);
                border: none;
                color: white;
                width: 100%;
                display: block;
                border-radius: 5px;
            }
        }

        .type-recherche {
            article {
                background-color: var(--grey-light);
                padding: 0.5rem;
                border-radius: 0.5rem;
                margin: 20px 50px;

                h2 {

                    font-size: 2rem;
                }

                ul {
                    list-style: none;

                    li {

                        margin-block: 1rem;

                        label {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }

    }

    #section-liste-de-recettes {
        padding-bottom: 1rem;
        margin: 20px;
        display: grid;
        gap: 2rem;

        article {
            text-align: center;
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
            box-shadow: 2px 2px 4px var(--primary-light);

            .contenaire-img {
                position: relative;

                .coeur {
                    right: 0;
                    position: absolute;
                    display: none;

                    &.show {
                        display: block;
                    }

                }

                .img-recette {
                    width: 100%;
                }
            }

            h2 {
                margin-block: 2rem;
                font-size: 3rem;
            }

            .description {
                display: flex;
                justify-content: start;
                gap: 1rem;
                margin-block: 1rem;
                margin-inline: 2rem;

                p {
                    font-size: 1.5rem;
                    padding: 7px;
                    color: white;
                    border-radius: 15px;

                    &.type-plat {
                        background-color: var(--primary);
                    }

                    &.type-temps {
                        background-color: var(--green);
                    }

                    &.type-dificulte {
                        background-color: var(--blue);
                    }
                }

            }

            button {
                margin-inline: 2rem;
                border-radius: 5px;
                text-align: center;
                padding-block: 2rem;
                border: none;
                width: 90%;
                text-decoration: none;
                background-color: var(--primary);
                font-size: 3rem;
                color: white;
                margin-block: 2rem;
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        #section-recherche {
            .recherche {
                position: relative;
                margin-inline: 5rem;
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 0;
                height: 4rem;
                align-items: center;

                .bouton-recherche, .input-recherche {
                    height: 100%;
                }

                .bouton-recherche {
                    border-radius: 0 0.5rem 0.5rem 0;
                }
            }
        }

        #section-liste-de-recettes {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width: 1024px) {
    main {
        #section-recherche {

            .type-recherche {
                display: grid;
                grid-template-columns: repeat(5,1fr);
                article {
                    margin: 0;
                    margin-top: 2rem;
                    margin-left: 5rem;
                }
            }

        }

        #section-liste-de-recettes {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}